::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(242, 242, 242, 0.6);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgba(62, 142, 208, .6);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(62, 142, 208, 1);
}

body {
    display: grid;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
    background-image: url("img/BG_keyboard.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Rubik', sans-serif;}

.is-small.input,
.button.is-small:not(.is-rounded) {
    border-radius: 4px;
}

.box {
    background-color: hsla(0, 0%, 100%, .9);
    color: #000000;
}

main {
    min-width: 300px;
    overflow: hidden;
}

.favourites-section {
    width: fit-content;
    min-height: 500px;
    background-color: hsla(0, 0%, 100%, .7);
    border-radius: 5px;
}

.fav-cards {
    overflow: auto;
    height: 70%;
    padding: 1.5rem;
}

.fav-cards::-webkit-scrollbar {
    display: none;
}

.fav-item {
    cursor: pointer;
}

.fav-item:hover {
    transform: scale(1.05);
}

.fav-item:hover p {
    font-weight: 500;
}

.fav-item:hover .fa-times {
    opacity: 1;
}

.icon {
    height: unset;
    width: unset;
    margin-left: 5px;
}

.fa-times {
    opacity: 0;
    transform: scale(.8);
    transition: opacity 350ms linear;
}

.fa-times:hover {
    color: red;
}


.response-body {
    max-height: 300px;
    min-width: 300px;
    font-size: xx-small;
    overflow-y: scroll;
    border: 1px solid #F2F2F299;
    border-radius: 5px;
}
#json,
#response-content,
#response-headers {
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 5px;
}

#response-headers {
    font-size: x-small;
    text-transform: capitalize;
}

.response-headers {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem 2rem;
}

@media (max-width: 1000px) {
    .main-box {
        margin-top: 1rem;
        max-width: 400px;
        padding: .5rem 1rem!important;
    }

    nav {
        font-size: smaller;
    }

    .crud-container {
        flex-direction: column;
    }

    .favourites-section {
        order: 1;
        margin-top: 1rem;
        min-height: fit-content;
        padding: .5rem 1rem!important;
    }

    .favourites-section p {
        margin-bottom: 0!important;
    }

    .fav-cards {
        padding: .5rem;
    }

    main.is-flex.pl-5 {
        padding-left: 0!important;
    }
}
