::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(242, 242, 242, 0.6);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgba(62, 142, 208, .6);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(62, 142, 208, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {

    display: grid;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
    background-image: url("img/BG_keyboard.jpg");
    background-size: cover;
    background-position: center;
}

.is-small.input,
.button.is-small:not(.is-rounded) {
    border-radius: 4px;
}

.box {
    background-color: hsla(0, 0%, 100%, .7);
    backdrop-filter: blur(6px);
    color: #000000;
    box-shadow: 0 0 5px hsl(0, 0%, 100%);
}

main {
    min-width: 300px;
    overflow: hidden;
}

.favourites-section {
    min-height: 500px;
    background-color: hsla(0, 0%, 100%, .7);
    border-radius: 5px;
}

.fav-cards {
    overflow: auto;
    height: 70%;
    padding: 1.5rem;
}

.fav-cards::-webkit-scrollbar {
    display: none;
}

.fav-item {
    cursor: pointer;
}

.fav-item:hover {
    transform: scale(1.05);
}

.fav-item:hover p {
    font-weight: 500;
}

.fav-item:hover .fa-times {
    opacity: 1;
}

.icon {
    height: unset;
    width: unset;
    margin-left: 5px;
}

.fa-times {
    opacity: 0;
    transform: scale(.8);
    transition: opacity 350ms linear;
}

.fa-times:hover {
    color: red;
}


.response-body {
    max-height: 300px;
    min-width: 300px;
    font-size: xx-small;
    overflow-y: scroll;
    border: 1px solid #F2F2F299;
    border-radius: 5px;
}
#json,
#response-content,
#response-headers {
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 5px;
}

#response-headers {
    font-size: x-small;
    text-transform: capitalize;
}

.response-headers {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem 2rem;
}

/* Modal Section */

.modal-card {
    width: unset;
    max-width: 600px;
}

.modal-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 20px;
}

.modalContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.modalContent .box-container {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem .75rem;
}

.modalContent .box-container h2 {
    height: 5%;
}

.modalContent .box-container .main-content {
    height: 75%;
}

.modalSlider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 350ms ease-in-out;
    overflow: hidden;
    background: white;
}


.modalSlider.activeSlide {
    left: 50%;
}

.modalSlider img {
    max-height: 260px;
    border-radius: 100%;
}

.projectTitle {
    position: absolute;
    left: 0;
    width: 100%;
    transition: 350ms ease-in-out;
}

.modalSlider .projectTitle {
    left: 150%;
}

.modalSlider.activeSlide .projectTitle {
    left: 0;
}

.authorTitle {
    position: absolute;
    left: 0;
    width: 100%;
    transition: 350ms ease-in-out;
}

.authorTitle img {
    outline: 1px solid #3e8ed0;
    box-shadow: 0 0 10px #3e8ed0;
}

.modalSlider.activeSlide .authorTitle {
    left: -150%;
}

.aboutProject {
    transition: 200ms ease-in-out;
    opacity: 0;
}

.aboutProject.activeSlide {
    opacity: 1;
}

.aboutAuthor {
    opacity: 1;
    transition: 200ms ease-in-out;
}

.aboutAuthor.activeSlide {
    opacity: 0;
}

#projectBtn {
    margin-right: auto;
    transition: 350ms ease-in-out;
    overflow: hidden;
}

#projectBtn:hover .btnArrow-left {
    left: -5px;
    position: relative;
}

#authorBtn {
    margin-left: auto;
    transition: 350ms ease-in-out;
    overflow: hidden;
}

#authorBtn:hover .btnArrow-right {
    right: -5px;
    position: relative;
}

.btnArrow {
    height: 20px;
}

.btnArrow-left {
    margin-right: 10px;
    position: absolute;
    left: -30px;
    transition: 350ms ease-in-out;
}

.btnArrow-right {
    margin-left: 10px;
    position: absolute;
    right: -30px;
    transition: 350ms ease-in-out;
}

.code-usage {
    background: white;
    height: 66px;
    width: 66px;
    border-radius: 100%;
    display: grid;
    align-items: center;
    position: relative;
}

.code-usage img {
    height: 33px;
    margin: 0 auto;
}

.code-usage svg {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 60px;
    width: 60px;
}

.text-percentage {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
}

.code-usage circle[class] {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transition: 1500ms ease-in-out;
}

.js-circle {
    stroke: #D4B830;
}

.js-html {
    stroke: #E34F26;
}

.js-css {
    stroke: #1572B6;
}

.aboutProject.activeSlide .js-circle {
    stroke-dashoffset: 392;
}

.aboutProject.activeSlide .js-html {
    stroke-dashoffset: 384;
}

.aboutProject.activeSlide .js-css {
    stroke-dashoffset: 452;
}


@media (max-width: 1000px) {
    .main-box {
        margin-top: 1rem;
        max-width: 400px;
        padding: .5rem 1rem 1rem 1rem!important;
    }

    nav {
        font-size: small;
        flex-direction: column;
    }

    .crud-container {
        flex-direction: column;
    }

    .favourites-section {
        order: 1;
        margin-top: 1rem;
        min-height: fit-content;
        padding: .5rem 1rem!important;
    }

    .favourites-section p {
        margin-bottom: 0!important;
    }

    .fav-cards {
        padding: .5rem;
    }

    main.is-flex.pl-5 {
        padding-left: 0!important;
    }
}

@media (max-width: 700px) {
    .modal-container {
        height: 800px;
        width: 300px;
    }

    .modalContent {
        flex-direction: column;
        height: 100%;
    }

    .modalContent .box-container {
        width: 100%;
    }

    .modalSlider {
        width: 100%;
        height: 50%;
        flex-direction: column;
    }

    .modalSlider.activeSlide {
        top: 50%;
        left: 0;
    }

    .modalSlider.activeSlide .projectTitle {
        bottom: 35%;
    }

    .modalSlider .projectTitle {
        left: 0;
        bottom: -150%;
    }

    .modalSlider.activeSlide .authorTitle {
        top: -150%;
        left: 0;
    }

    .modalSlider .authorTitle {
        left: 0;
        top: 17%;
    }

}

@media (max-width: 425px) {
    .main-box {
        margin-top: 1rem;
        max-width: 300px;
        padding: .5rem 1rem 1rem 1rem!important;
    }

    .crud-container {
        flex-direction: column;
    }

    .favourites-section {
        order: 1;
        margin-top: 1rem;
        min-height: fit-content;
        padding: .5rem .5rem!important;
    }

    .favourites-section p {
        margin-bottom: 0!important;
        font-size: 1rem!important;
    }

    .fav-cards {
        padding: .5rem;
        overflow-x: unset;
    }

    .header-title.is-size-7.has-text-info {
        font-size: .75rem!important;
    }

    .card-header span.is-size-7 {
        font-size: .75rem!important;
        overflow-wrap: anywhere;
    }

    main.is-flex.pl-5 {
        padding-left: 0!important;
    }

    #response-content, main form {
        width: 268px;
    }

    .response-body {
        min-width: unset;
    }
}
